# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
Pipfile*


# misc
.coverage
.vscode
coverage.xml
.ruff_cache
.DS_Store


# Home Assistant configuration
config/*
!config/configuration.yaml

custom_components/watts_vision/*
